:root {
    --dark-clr: #cfcfcf;
    --light-clr: #2a2a2a;
    --dark-bg: #000;
    --light-bg: #fff;
    --font: 400 16px "Play", sans-serif;
    --font-btn: 400 14px "Play", sans-serif;
}

@font-face {
    font-family: Play;
    src: url(Play.ttf);
}

body {
    width: 100%;
    margin: 0;
    padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    -webkit-user-select: none;
    font: var(--font);
    background: #000;
    color: var(--dark-clr);
}

hr {
    width: 99.5%;
    border: .5px solid #242424;
}

h1 {
    text-align: center;
    line-height: 20px;
}

input {
    font: 400 16px "Play";
    text-align: center;
}

input[type=number], input[type=text] {
    color: var(--dark-clr);
    padding: 6px 2px;
    border-radius: 4px;
    border: none;
    background: #242424;
}

input:disabled {
    color: #545454;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
}

button {
    width: 100%;
    padding: 10px 0;
    color: #EEE;
    border: none;
    border-radius: 4px;
    font: var(--font-btn);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

button[name=val] {
    margin-top: 30px;
    background: #cc0000;
    box-shadow: 0 0 0 4px #cc0000aa;
}

button[name=res] {
    margin-top: 6px;
    background: #3a3a3a;
    box-shadow: 0 0 0 4px #3a3a3aaa;
}

button:active {
    filter: brightness(1.25);
}

table {
    border-spacing: 0;
    min-width: 370px;
}

table tr:nth-child(even) {
    background: #090909;
}

table tr:has(button), table tr:has(th) {
    background: none !important;
}

table td, table th {
    padding: 8px;
}

span.small-fade {
    font-size: 10px;
    color: #545454;
}

section#results {
    display: none;
}
